    <section class="filter-section">


      <div class="container">


        <div class="filter-shell">


          <div
            class="filters"
            role="tablist"
            aria-label="Filtrar actualidad"
          >


            <button
              class="filter-button active"
              data-filter="all"
            >
              Todo
            </button>


            <button
              class="filter-button"
              data-filter="event"
            >
              Eventos
            </button>


            <button
              class="filter-button"
              data-filter="news"
            >
              Noticias
            </button>


          </div>


          <div
            class="filter-count"
            id="filterCount"
          >
            0 publicaciones
          </div>


        </div>


      </div>


    </section>



