    <section class="origin">


      <svg
        class="origin-air"
        viewBox="0 0 900 500"
        fill="none"
      >

        <path
          d="M10 150C157 61 277 74 388 148C509 228 630 225 895 92"
          stroke="#53bbb4"
          stroke-width="1"
        />

        <path
          d="M-20 289C165 185 303 204 420 281C546 363 672 351 925 224"
          stroke="#ffffff"
          stroke-width=".8"
        />

      </svg>


      <svg
        class="origin-snowflake"
        viewBox="0 0 24 24"
        fill="none"
      >

        <path
          d="M12 3V9M12 21V12L19.7942 7.49999M15 4L12 7L8.99998 4M8.99998 20L12 17L15 20M4.20575 7.5L19.7942 16.5M6.57178 5.40192L7.66985 9.5L3.57178 10.5981M17.4282 18.5981L16.3301 14.5L20.4282 13.4019M4.20579 16.5L9.99997 13.1547M7.66987 14.5L6.57179 18.5981M3.57179 13.402L4.99997 13.7846M16.3301 9.5L17.4282 5.40192M20.4282 10.5981L19 10.2154"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />

      </svg>


      <div class="container origin-grid">


        <div>

          <span class="micro-label reveal">
            El origen
          </span>

        </div>


        <div class="origin-copy">


          <h2 class="reveal delay-1">

            No se trataba solamente de HVAC.

            <span>
              Se trataba de crear un punto de encuentro.
            </span>

          </h2>


          <p class="reveal delay-2">

            Un espacio donde la curiosidad técnica
            pudiera convertirse en conversaciones,
            experiencias y conexiones reales.

            HVACKEROS surge como una comunidad
            construida alrededor de una disciplina
            que está presente en prácticamente todos
            los espacios que habitamos.

          </p>


        </div>

      </div>

    </section>



