    <section class="today-wrapper">


      <div class="today">


        <svg
          class="today-snowflake"
          viewBox="0 0 24 24"
          fill="none"
        >

          <path
            d="M12 3V9M12 21V12L19.7942 7.49999M15 4L12 7L8.99998 4M8.99998 20L12 17L15 20M4.20575 7.5L19.7942 16.5M6.57178 5.40192L7.66985 9.5L3.57178 10.5981M17.4282 18.5981L16.3301 14.5L20.4282 13.4019M4.20579 16.5L9.99997 13.1547M7.66987 14.5L6.57179 18.5981M3.57179 13.402L4.99997 13.7846M16.3301 9.5L17.4282 5.40192M20.4282 10.5981L19 10.2154"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />

        </svg>


        <svg
          class="today-air"
          viewBox="0 0 850 450"
          fill="none"
        >

          <path
            d="M0 120C160 26 281 45 394 116C514 193 634 189 842 75"
            stroke="#53bbb4"
            stroke-width="1"
          />

          <path
            d="M-30 258C145 157 282 174 408 252C535 331 660 322 875 207"
            stroke="#ffffff"
            stroke-width=".8"
          />

        </svg>


        <div class="container today-grid">


          <div>

            <span class="micro-label reveal">
              HVACKEROS hoy
            </span>

          </div>


          <div class="today-copy">


            <h2 class="reveal delay-1">

              Lo importante no es solamente
              de dónde venimos.

              <span>
                Es lo que estamos construyendo.
              </span>

            </h2>


            <p class="reveal delay-2">

              HVACKEROS busca consolidarse
              como una comunidad estudiantil
              capaz de acercar conocimiento,
              industria y oportunidades
              a nuevas generaciones de estudiantes.

            </p>


            <div class="today-line">


              <div class="reveal">

                <span>
                  Aprender
                </span>

                <strong>
                  Con intención
                </strong>

              </div>


              <div class="reveal delay-1">

                <span>
                  Conectar
                </span>

                <strong>
                  Con la industria
                </strong>

              </div>


              <div class="reveal delay-2">

                <span>
                  Construir
                </span>

                <strong>
                  Comunidad
                </strong>

              </div>


            </div>


          </div>

        </div>

      </div>

    </section>



