  <footer class="footer">

    <div class="footer-background-word">
      HVACKEROS
    </div>

    <svg
      class="footer-air"
      viewBox="0 0 800 440"
    >

      <path
        d="M10 101C154 19 275 28 386 98C503 172 619 166 790 63"
        fill="none"
        stroke="#159b9a"
        stroke-width="1"
      />

      <path
        d="M-20 230C144 137 285 149 403 223C535 305 663 295 827 189"
        fill="none"
        stroke="#123f6a"
        stroke-width="1"
      />

    </svg>

    <div
      class="container
             footer-content"
    >

      <div class="footer-top">

        <div class="footer-brand">

          <div class="footer-logo-text">
            HVACKEROS
          </div>

          <p>
            Comunidad estudiantil del
            Tecnológico de Monterrey enfocada
            en HVAC, energía, innovación y
            desarrollo profesional.
          </p>

          <div class="footer-location">

            <span></span>

            Tecnológico de Monterrey

          </div>

        </div>

        <div class="footer-column">

          <h4>
            HVACKEROS
          </h4>

          <a href="/about/">
            Nosotros
          </a>

          <a href="/#proposito">
            Qué hacemos
          </a>

          <a href="/members/">
            Equipo
          </a>

        </div>

        <div class="footer-column">

          <h4>
            Explora
          </h4>

          <a href="/#evento">
            Eventos
          </a>

          <a href="/news/">
            Noticias
          </a>

          <a href="/about/">
            Historia
          </a>

        </div>

        <div class="footer-column">

          <h4>
            Contacto
          </h4>

          <a href="#">
            Instagram
          </a>

          <a href="#">
            LinkedIn
          </a>

          <a href="#">
            Correo
          </a>

        </div>

      </div>

      <div class="footer-line"></div>

      <div class="footer-bottom">

        <span>
          Grupo estudiantil ·
          Tecnológico de Monterrey
        </span>

        <div class="footer-bottom-right">

          <span>
            Monterrey, México
          </span>

          <span>
            ©
            <span id="year"></span>
            HVACKEROS
          </span>

        </div>

      </div>

    </div>

  </footer>
