    <section
      class="join"
      id="unete"
    >

      <svg
        class="join-air"
        viewBox="0 0 750 400"
      >

        <path
          d="M20 115C168 22 283 39 389 108C503 181 610 179 748 89"
          fill="none"
          stroke="#53bbb4"
          stroke-width="1"
        />

        <path
          d="M-10 240C145 148 271 160 388 230C505 300 617 293 775 194"
          fill="none"
          stroke="#ffffff"
          stroke-width="1"
        />

      </svg>

      <svg
        class="join-stream"
        viewBox="0 0 620 300"
      >
        <path
          d="M0 62C105 18 199 25 287 64C388 108 489 109 620 71"
          fill="none"
          stroke="#159b9a"
          stroke-width=".8"
        />

        <path
          d="M0 101C108 59 204 65 295 104C395 146 496 149 620 113"
          fill="none"
          stroke="#ffffff"
          stroke-width=".7"
        />

        <path
          d="M0 141C111 101 209 107 303 145C404 186 504 190 620 156"
          fill="none"
          stroke="#4aaa48"
          stroke-width=".7"
        />
      </svg>

      <div
        class="container
               join-layout"
      >

        <div>

          <span
            class="micro-label reveal"
          >
            Forma parte
          </span>

          <h2
            class="reveal delay-1"
          >
            Aprende, conecta y construye con nosotros.
          </h2>

          <p
            class="reveal delay-2"
          >
            Una comunidad para estudiantes
            interesados en HVAC, energía,
            innovación y el futuro de los
            espacios que habitamos.
          </p>

        </div>

        <a
          href="#unete"
          class="join-circle
                 reveal delay-2"
        >

          <span>
            ÚNETE
          </span>

          <svg
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.6"
          >
            <path d="M7 17L17 7"/>
            <path d="M8 7H17V16"/>
          </svg>

        </a>

      </div>

    </section>

