    <section
      class="join"
      id="unete-equipo"
    >


      <svg
        class="join-air"
        viewBox="0 0 720 420"
      >


        <path
          d="M-20 89C126 17 237 29 353 96C474 166 579 157 744 53"
          fill="none"
          stroke="#159b9a"
          stroke-width="1"
        />


        <path
          d="M-15 218C120 148 249 150 371 220C496 292 604 283 744 195"
          fill="none"
          stroke="#123f6a"
          stroke-width="1"
        />


      </svg>



      <div
        class="container join-layout"
      >


        <div>


          <span
            class="micro-label reveal"
          >
            Tu lugar puede estar aquí
          </span>


          <h2
            class="reveal delay-1"
          >

            HVACKEROS sigue creciendo.

            <span>
              La siguiente persona puede ser tú.
            </span>

          </h2>


        </div>



        <a
          href="index.html#unete"
          class="join-circle reveal delay-2"
        >


          <span>
            ÚNETE
          </span>


          <svg
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.6"
          >

            <path d="M7 17L17 7"/>

            <path d="M8 7H17V16"/>

          </svg>


        </a>


      </div>


    </section>


